.bg {
    width: 100%;
    height: 100vh;
    background-image: url(../images/left-bg-decor.png);
    background-repeat: no-repeat;
}

.feature{
    width: 100%;
    height: 477px;
    position: relative;
    top: 30%;
    display: flex;
    justify-content: space-around;
}

.feature__container {
    display: flex;
    position: absolute;
    width: 1140px;
    height: 100%;
    margin: 0 auto;
}

.feature__left{
    width: 40%;
    height: 100%;
    background-image: url(../images/left-image.png);
    background-size: cover;
}

.feature__right{
    width: 43%;
    height: 100%;
    position: absolute;
    right: 10rem;
    margin-right: 2rem;
}

.feature__right--ul{
    width: 100%;
    list-style: none;
}

.feature__right--item{
    display: flex;
    padding-bottom: 5rem;
}

.feature__right--item img{
    width: 100px;
    height: 100px;
}

.feature__item--text{
    padding-left: 8px;
}

.feature__item--p{
    font-weight: 100;
    color: #888888;
}

.feature__ancor {
    text-decoration: none;
}

@media (max-width: 1200px) {
    .feature__left{
        width: 40%;
        height: 80%;
        background-size:contain;
        background-repeat: no-repeat;
        background-position: right;
        margin-top: 2rem;
    }
  }

@media (max-width: 991px) {
  
    .bg {
      height: 150vh;
    }
  
    .feature__container {
      display: inline-block;
      width: 100%;
      height: 100%;
    }
  
    .feature__left {
      width: 100%;
      height: 102%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  
    .feature__right {
      width: 90%;
      height: 100%;
      display: flex;
      left: 2rem;
      margin-top: 2rem;
    }
  }