@import "https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900";
/* 
---------------------------------------------
reset
--------------------------------------------- 
*/
/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/
/* 
---------------------------------------------
footer
--------------------------------------------- 
*/
html {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	background-color: #fff;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #fff;
	font-family: 'Poppins', sans-serif;
}
body {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	background-color: #fff;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #fff;
	font-family: 'Poppins', sans-serif;
}
div {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	pre {
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
	}
}
span {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
applet {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
object {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
iframe {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
h1 {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	margin-top: 0px;
	margin-bottom: 0px;
}
h2 {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	margin-top: 0px;
	margin-bottom: 0px;
}
h3 {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	margin-top: 0px;
	margin-bottom: 0px;
}
h4 {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	margin-top: 0px;
	margin-bottom: 0px;
}
h5 {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	margin-top: 0px;
	margin-bottom: 0px;
}
h6 {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	margin-top: 0px;
	margin-bottom: 0px;
}
p {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 15px;
	line-height: 25px;
	color: #888;
}
blockquote {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
a {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	text-decoration: none !important;
}
abbr {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
acronym {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
address {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
big {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
cite {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
code {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
del {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
dfn {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
em {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
font {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
img {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
ins {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
kbd {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
q {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
s {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
samp {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
small {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
strike {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
strong {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
sub {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
sup {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
tt {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
var {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
b {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
u {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
i {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
center {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
dl {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
dt {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
dd {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
ol {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
ul {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	padding: 0;
	margin: 0;
	list-style: none;
	margin-bottom: 0px;
}
li {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	padding: 0;
	margin: 0;
	list-style: none;
}
figure {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
header {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	display: block;
}
nav {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	display: block;
}
section {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	display: block;
}
article {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	display: block;
}
aside {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	display: block;
}
footer {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	display: block;
	margin-top: 200px;
	padding-top: 120px;
	background-image: url(./footer-bg.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 100%;
	.footer-content {
		padding: 120px 0px;
		display: inline-block;
	}
	.right-content {
		display: block;
	}
	.social {
		overflow: hidden;
		margin-top: 30px;
		li {
			&:first-child {
				margin-left: 0px;
			}
			margin: 0px 7.5px;
			display: inline-block;
			a {
				color: #fff;
				text-align: center;
				background-color: transparent;
				border: 1px solid #fff;
				width: 44px;
				height: 44px;
				line-height: 44px;
				border-radius: 50%;
				display: inline-block;
				font-size: 16px;
				-webkit-transition: all 0.3s ease 0s;
				-moz-transition: all 0.3s ease 0s;
				-o-transition: all 0.3s ease 0s;
				transition: all 0.3s ease 0s;
				&:hover {
					background-color: #fba70b;
					border-color: #fba70b;
					color: #fff;
				}
			}
		}
	}
	.copyright {
		margin-top: 10px;
		font-weight: 400;
		font-size: 15px;
		color: #4a4a4a;
		letter-spacing: 0.88px;
		text-transform: capitalize;
	}
	.sub-footer {
		padding: 60px 0px;
		border-top: 1px solid rgba(250,250,250,0.3);
		text-align: center;
		a {
			color: #FFF;
			&:hover {
				color: #FC3;
			}
		}
		p {
			color: #fff;
			font-size: 15px;
			font-weight: 300;
			letter-spacing: 0.5px;
		}
	}
}
figcaption {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
hgroup {
	display: block;
}
* {
	box-sizing: border-box;
}
&::selection {
	background: #f1556a;
	color: #fff;
}
&::-moz-selection {
	background: #f1556a;
	color: #fff;
}
a.main-button-slider {
	font-size: 14px;
	border-radius: 25px;
	padding: 15px 25px;
	background-color: #fba70b;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	letter-spacing: 1px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	&:hover {
		background-color: #f1556a;
	}
}
a.main-button {
	font-size: 14px;
	border-radius: 25px;
	padding: 15px 25px;
	background-color: #f4813f;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	letter-spacing: 1px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	&:hover {
		background-color: #f1556a;
	}
}
button.main-button {
	outline: none;
	border: none;
	cursor: pointer;
	font-size: 14px;
	border-radius: 25px;
	padding: 15px 25px;
	background-color: #f4813f;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	letter-spacing: 1px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	&:hover {
		background-color: #f1556a;
	}
}
.container1 {
	display: block;
	box-sizing: border-box;
	justify-content: center;
	padding: 0 200px;
}
.contact-form {
	display: block;
	position: relative;
	z-index: 10;
	padding: 45px;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	width: 540px;
	height: 450px;
	text-align: center;
	list-style-type: none;
	input {
		color: #777;
		font-size: 13px;
		border: 1px solid #eee;
		background-color: #f7f7f7;
		border-radius: 5px;
		width: 100%;
		height: 50px;
		outline: none;
		padding-left: 20px;
		padding-right: 20px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		margin-bottom: 45px;
	}
	textarea {
		color: #777;
		font-size: 13px;
		border: 1px solid #eee;
		background-color: #f7f7f7;
		border-radius: 5px;
		width: 100%;
		height: 50px;
		outline: none;
		padding-left: 20px;
		padding-right: 20px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		margin-bottom: 45px;
		height: 100%;
		resize: none;
		padding: 20px;
	}
	&::-webkit-input-placeholder {
		color: #7a7a7a;
	}
	&:-ms-input-placeholder {
		color: #7a7a7a;
	}
	&::placeholder {
		color: #7a7a7a;
	}
}
.flex {
	display: flex;
	text-align: center;
	border: none;
}
.row1 {
	display: flex;
}
.row2 {
	display: block;
}
.nav {
	text-align: center;
}
.footer-content {
	.right-content {
		display: block;
		color: #fff;
		padding: 50px 30px;
		h2 {
			margin-top: 0px;
			margin-bottom: 30px;
			font-size: 42px;
			text-transform: capitalize;
			font-weight: 700;
			letter-spacing: 1px;
			em {
				font-style: normal;
				color: #fba70b;
			}
		}
		p {
			color: #FFF;
		}
		a {
			color: #FFF;
			&:hover {
				color: #FC3;
			}
		}
	}
}
@media (max-width: 991px) {
	html {
		overflow-x: hidden;
	}
	body {
		overflow-x: hidden;
	}
	.mobile-top-fix {
		margin-top: 30px;
		margin-bottom: 0px;
	}
	.mobile-bottom-fix {
		margin-bottom: 30px;
	}
	.mobile-bottom-fix-big {
		margin-bottom: 60px;
	}
	footer {
		.copyright {
			text-align: center;
		}
		.social {
			text-align: center;
		}
	}
}
@media (max-width: 992px) {
	footer {
		padding-top: 0px !important;
		margin-top: 0px !important;
		.right-content {
			text-align: center;
		}
		.footer-content {
			padding: 60px 0px !important;
		}
	}
	.contact-form {
		margin-bottom: 45px;
	}
}
