// line-height: 1.5;
// color: #212529;
// text-align: left;
// background-color: #fff;
// }

// :root {
// --blue: #007bff;
// --indigo: #6610f2;
// --purple: #6f42c1;
// --pink: #e83e8c;
// --red: #dc3545;
// --orange: #fd7e14;
// --yellow: #ffc107;
// --green: #28a745;
// --teal: #20c997;
// --cyan: #17a2b8;
// --white: #fff;
// --gray: #6c757d;
// --gray-dark: #343a40;
// --primary: #007bff;
// --secondary: #6c757d;
// --success: #28a745;
// --info: #17a2b8;
// --warning: #ffc107;
// --danger: #dc3545;
// --light: #f8f9fa;
// --dark: #343a40;
// --breakpoint-xs: 0;
// --breakpoint-sm: 576px;
// --breakpoint-md: 768px;
// --breakpoint-lg: 992px;
// --breakpoint-xl: 1200px;    
$yellow: #ffc107;
$dark: #343a40;
$primary: #007bff;
$secondary: #6c757d;
.welcome-area {
    width: 100%;
    // height: 100vh;
    min-height: 793px;
    background-image: url(../images/banner-bg.png);
    background-repeat: no-repeat;
    background-position: right top;
    .header-text h1 {
        font-weight: 900 !important;
        font-size: 52px;
        line-height: 80px;
        letter-spacing: 1px;
        margin-bottom: 30px;
        color: #191a20;
    }
    .header-text p {
        font-weight: 300;
        font-size: 17px;
        color: #7a7a7a;
        line-height: 30px;
        letter-spacing: 0.25px;
        margin-bottom: 40px;
        position: relative;
    }
    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        .row {
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
            .col-fix {
                position: relative;
                width: 100%;
                padding-right: 15px;
                padding-left: 15px;
            }
            .left-text {
                position: relative;
                align-self: center;
                margin-top: 35%;
                transform: perspective(1px) translateY(-30%) !important;
                a {
                    text-decoration: none;
                }
                a:hover {
                    background: #f1556a;
                    color: #fff;
                }
                .main-button-slider {
                    font-size: 14px;
                    border-radius: 25px;
                    padding: 15px 25px;
                    background-color: #fba70b;
                    text-transform: uppercase;
                    color: #fff;
                    font-weight: 500;
                    letter-spacing: 1px;
                    transition: all 0.3s ease 0s;
                }
            }
        }
    }
}
// responsive welcome-area 
@media (max-width: 810px) {
    .welcome-area .header-text {
        padding-top: 100%;
        margin-left: 0;
    }
}
@media (max-width: 1140px) {
    .welcome-area .header-text {
        width: 92%;
        padding-top: 793px;
    }
}
@media (max-width: 1320px) {
    .welcome-area .header-text {
        width: 50%;
        margin-left: 5%;
    }
}
@media (max-width: 1420px) {
    .welcome-area .header-text {
        width: 70%;
        margin-left: 5%;
    }
}
@media (max-width: 1320px) {
    .welcome-area .header-text .left-text {
        margin-top: 50%;
    }
}
// responsive .container ===> 

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 576px) {
    .container {
       max-width: 540px;
    }
}
@media (min-width: 1200px) {
    .container {
    max-width: 1140px;
    }
}
// fix col


@media (min-width: 576px) {
    .col-fix {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (min-width: 768px) {

    .col-fix {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (min-width: 992px) {

    .col-fix {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}