section.section#about
    div.container
        div.row
            .col
                div.features-item
                    div.features-icon
                        h2 01
                        img(src="./images/features-icon-1.png" alt="")
                        h4 Trend Analysis
                        p Curabitur pulvinar vel odio sed sagittis. Nam maximus ex diam, nec consectetur diam.
                        a.main-button(href='#testimonials') Read More
            .col
                div.features-item
                    div.features-icon
                        h2 02
                        img(src="./images/features-icon-2.png" alt="")
                        h4 Site Optimization
                        p Curabitur pulvinar vel odio sed sagittis. Nam maximus ex diam, nec consectetur diam.
                        a.main-button(href='#testimonials') Discover more
            .col
                div.features-item
                    div.features-icon
                        h2 03
                        img(src="./images/features-icon-3.png" alt="")
                        h4 Email Design
                        p Curabitur pulvinar vel odio sed sagittis. Nam maximus ex diam, nec consectetur diam.
                        a.main-button(href='#testimonials') More Detail