div.contact 
    div.contact-form 
        form(action="#")
            div.form-name-email 
                <input name="name" type="text" id="name" placeholder="Full Name" required="" > 
                <input name="email" type="text" id="email" placeholder="E-Mail Address" required="" >
            div.form-mes 
                <textarea name="message" rows="6" id="message" placeholder="Your Message" required="" ></textarea>
            <button type="submit" id="form-submit" class="main-button">Send Message Now</button>
                                               