div.bg
    div.feature
        div.feature__container 
            div.feature__left
            div.feature__right
                div.feature__item--1
                    div.feature__item__img1
                        img(src="./images/about-icon-01.png", alt="#")
                    div.feature__item__text
                        div.feature__item__text--h 
                            h2 Vestibulum pulvinar rhoncus
                        br
                        div.feature__item__text--p 
                            p 
                            |Please do not redistribute this template ZIP file for a download purpose. You may 
                            a.ancor(href="#") contact 
                            |  us for additional licensing of our template or to get a PSD file.
                div.feature__item--2 
                    div.feature__item__img2
                        img(src="./images/about-icon-01.png", alt="#")
                    div.feature__item__text
                        div.feature__item__text--h 
                            h2 Vestibulum pulvinar rhoncus
                        br
                        div.feature__item__text--p 
                            p 
                            |You can  
                            a.ancor(href="#") download Lava Template
                            |  us for additional licensing of our template or to get a PSD file.
                div.feature__item--3 
                    div.feature__item__img3
                        img(src="./images/about-icon-01.png", alt="#")
                    div.feature__item__text
                        div.feature__item__text--h 
                            h2 Vestibulum pulvinar rhoncus
                        br
                        div.feature__item__text--p 
                            p 
                            |Phasellus in imperdiet felis, eget vestibulum nulla. Aliquam nec dui nec augue
                            |  maximus porta. Curabitur tristique lacus.
                    