footer#contact-us
  .container1
    .footer-content
      .row1
        // ***** Contact Form Start *****
        .col-lg-6.col-md-12.col-sm-12
          .contact-form
            form#contact(action='' method='post')
              .row
                .flex
                  .col-md-6.col-sm-12
                    fieldset
                      input#name(name='name' type='text' placeholder='Full Name' required='' style='background-color: rgba(250,250,250,0.3);')
                  .col-md-6.col-sm-12
                    fieldset
                      input#email(name='email' type='text' placeholder='E-Mail Address' required='' style='background-color: rgba(250,250,250,0.3);')
                .col-lg-12
                  fieldset
                    textarea#message(name='message' rows='6' placeholder='Your Message' required='' style='background-color: rgba(250,250,250,0.3);')
                .col-lg-12
                  fieldset
                    button#form-submit.main-button(type='submit')
                      | Send Message
                      | Now
        // ***** Contact Form End *****
        .right-content.col-lg-6.col-md-12.col-sm-12
          h2
            | More About 
            em Lava
          p
            | Phasellus dapibus urna vel lacus accumsan, iaculis eleifend leo auctor. Duis at finibus odio.
            | Vivamus ut pharetra arcu, in porta metus. Suspendisse blandit pulvinar ligula ut elementum.
            br
            br
            | If you need this contact form to send email to your inbox, you may follow our 
            a(rel='nofollow' href='https://templatemo.com/contact' target='_parent') contact
            |  page
            |                             for more detail.
          ul.social
            li
              a(href='https://fb.com/templatemo')
                i.fa.fa-facebook
            li
              a(href='#')
                i.fa.fa-twitter
            li
              a(href='#')
                i.fa.fa-linkedin
            li
              a(href='#')
                i.fa.fa-rss
            li
              a(href='#')
                i.fa.fa-dribbble
    .row2
      .col-lg-12
        .sub-footer
          p
            | Copyright &copy; 2020 Lava Landing Page
            | | Designed by 
            a(rel='nofollow' href='https://templatemo.com') TemplateMo
