//
  <div id="preloader">
  <div class="jumper">
  <div></div>
  <div></div>
  <div></div>
  </div>
  </div>
header.header-area.header-sticky
  .container
    .row
      .col-12
        nav.main-nav
          a.logo(href='index.html')
            | Lava
          ul.nav
            li.scroll-to-section
              a.menu-item.active(href='#welcome') Home
            li.scroll-to-section
              a.menu-item(href='#about') About
            li.scroll-to-section
              a.menu-item(href='#testimonials') Testimonials
            li.submenu
              a(href='javascript:;') Drop Down
              ul
                li
                  a.menu-item(href='') About Us
                li
                  a.menu-item(href='') Features
                li
                  a.menu-item(href='') FAQ&apos;s
                li
                  a.menu-item(href='') Blog
            li.scroll-to-section
              a.menu-item(href='#contact-us') Contact Us
          a.menu-trigger
            span Menu