.welcome-area
    .header-text 
         .container 
            .row 
                .left-text.col-fix
                    h1 Simple App that 
                        br 
                        |we 
                        span(style={color: '#ffc107'}) CREATE
                    p
                        |Lava  
                        a(class='button' href='#') landing page 
                        |template is provided by  
                        a(class='button' href='#') TemplateMo 
                        |You can modify and use it for your commercial websites for free of charge. This template is last updated |on 29 Oct 2019.
                    a(class='main-button-slider' href='#') KNOW US BETTER 




