div.testimonials-bg
    div.testimonials
        div.title 
            h1 What They Think <span> About Us </span>
            p.content Suspendisse vitae laoreet mautis. Fusce a nisi dapibus, euismod purus non, <br> convaillis oddio. Donec vitae magne ornare, pellentensque ex vitae, aliquet urna.
        br
        .card 
            div.card1 
                div.card1-img
                    img(src="./images/testimonial-author-1.png", alt="")   
                div.card1-content
                
                    h4 Jonathan Smart
                    p “Nullam hendrerit, elit a semper pharetra, ipsum nibh tristique tortor, in tempus urna elit in mauris.” 
                    span Besta CTO     
            div.card2 
                div.card2-img
                    img(src="./images/testimonial-author-1.png", alt="") 
                div.card2-content 
                    h4 Jonathan Smart
                    p “Nullam hendrerit, elit a semper pharetra, ipsum nibh tristique tortor, in tempus urna elit in mauris.” 
                    span Besta CTO    
            

